@property --root-h {
  syntax: "<number>"; /* <- defined as type number for the transition to work */
  initial-value: 0;
  inherits: true;
}
@keyframes rainbow-hue {
  0%,
  100% {
    --root-h: 0;
  }
  2% {
    --root-h: 7.2;
  }
  4% {
    --root-h: 14.4;
  }
  6% {
    --root-h: 21.6;
  }
  8% {
    --root-h: 28.8;
  }
  10% {
    --root-h: 36;
  }
  12% {
    --root-h: 43.2;
  }
  14% {
    --root-h: 50.4;
  }
  16% {
    --root-h: 57.6;
  }
  18% {
    --root-h: 64.8;
  }
  20% {
    --root-h: 72;
  }
  22% {
    --root-h: 79.2;
  }
  24% {
    --root-h: 86.4;
  }
  26% {
    --root-h: 93.6;
  }
  28% {
    --root-h: 100.8;
  }
  30% {
    --root-h: 108;
  }
  32% {
    --root-h: 115.2;
  }
  34% {
    --root-h: 122.4;
  }
  36% {
    --root-h: 129.6;
  }
  38% {
    --root-h: 136.8;
  }
  40% {
    --root-h: 144;
  }
  42% {
    --root-h: 151.2;
  }
  44% {
    --root-h: 158.4;
  }
  46% {
    --root-h: 165.6;
  }
  48% {
    --root-h: 172.8;
  }
  50% {
    --root-h: 180;
  }
  52% {
    --root-h: 187.2;
  }
  54% {
    --root-h: 194.4;
  }
  56% {
    --root-h: 201.6;
  }
  58% {
    --root-h: 208.8;
  }
  60% {
    --root-h: 216;
  }
  62% {
    --root-h: 223.2;
  }
  64% {
    --root-h: 230.4;
  }
  66% {
    --root-h: 237.6;
  }
  68% {
    --root-h: 244.8;
  }
  70% {
    --root-h: 252;
  }
  72% {
    --root-h: 259.2;
  }
  74% {
    --root-h: 266.4;
  }
  76% {
    --root-h: 273.6;
  }
  78% {
    --root-h: 280.8;
  }
  80% {
    --root-h: 288;
  }
  82% {
    --root-h: 295.2;
  }
  84% {
    --root-h: 302.4;
  }
  86% {
    --root-h: 309.6;
  }
  88% {
    --root-h: 316.8;
  }
  90% {
    --root-h: 324;
  }
  92% {
    --root-h: 331.2;
  }
  94% {
    --root-h: 338.4;
  }
  96% {
    --root-h: 345.6;
  }
  98% {
    --root-h: 352.8;
  }
}

@keyframes violet-hue {
  0%,
  100% {
    --root-h: 330;
  }
  2% {
    --root-h: 329;
  }
  4% {
    --root-h: 328;
  }
  6% {
    --root-h: 327;
  }
  8% {
    --root-h: 326;
  }
  10% {
    --root-h: 325;
  }
  12% {
    --root-h: 324;
  }
  14% {
    --root-h: 323;
  }
  16% {
    --root-h: 322;
  }
  18% {
    --root-h: 321;
  }
  20% {
    --root-h: 320;
  }
  22% {
    --root-h: 319;
  }
  24% {
    --root-h: 318;
  }
  26% {
    --root-h: 317;
  }
  28% {
    --root-h: 316;
  }
  30% {
    --root-h: 315;
  }
  32% {
    --root-h: 314;
  }
  34% {
    --root-h: 313;
  }
  36% {
    --root-h: 312;
  }
  38% {
    --root-h: 311;
  }
  40% {
    --root-h: 310;
  }
  42% {
    --root-h: 309;
  }
  44% {
    --root-h: 308;
  }
  46% {
    --root-h: 307;
  }
  48% {
    --root-h: 306;
  }
  50% {
    --root-h: 305;
  }
  52% {
    --root-h: 306;
  }
  54% {
    --root-h: 307;
  }
  56% {
    --root-h: 308;
  }
  58% {
    --root-h: 309;
  }
  60% {
    --root-h: 310;
  }
  62% {
    --root-h: 311;
  }
  64% {
    --root-h: 312;
  }
  66% {
    --root-h: 313;
  }
  68% {
    --root-h: 314;
  }
  70% {
    --root-h: 315;
  }
  72% {
    --root-h: 316;
  }
  74% {
    --root-h: 317;
  }
  76% {
    --root-h: 318;
  }
  78% {
    --root-h: 319;
  }
  80% {
    --root-h: 320;
  }
  82% {
    --root-h: 321;
  }
  84% {
    --root-h: 322;
  }
  86% {
    --root-h: 323;
  }
  88% {
    --root-h: 324;
  }
  90% {
    --root-h: 325;
  }
  92% {
    --root-h: 326;
  }
  94% {
    --root-h: 327;
  }
  96% {
    --root-h: 328;
  }
  98% {
    --root-h: 329;
  }
}
